<div ng-show="loaded">
<table class="table table-condensed table-striped">
  <tr>
    <th>ID:</th>
    <td>{{id}}</td>
  </tr>
  <tr>
    <th>Incident Number:</th>
    <td>{{incidentNumber}}</td>
  </tr>
  <tr>
    <th>Title:</th>
    <td>{{title}}</td>
  </tr>
  <tr>
    <th>Description:</th>
    <td>{{description}}</td>
  </tr>
  <tr>
    <th>Company:</th>
    <td>{{company}}</td>
  </tr>
  <tr>
    <th>Owner:</th>
    <td>{{owner}}</td>
  </tr>
  <tr>
    <th>Attachments Folder:</th>
    <td>{{networkAttachmentsFolder}}</td>
  </tr>
  <tr ng-show="attachments">
    <th>Attachments:</th>
    <td>
      <table class="table table-condensed">
      <tr>
        <th>Filename</th>
        <th>Size (kb)</th>
        <th>Modified</th>
        <th>Created</th>
      </tr>
      <tr ng-repeat="attachment in attachments | orderBy: '-ModifiedDate'">
        <td><a href="../incident/{{incidentNumber}}/attachments/{{attachment.Filename}}">{{attachment.Filename}}</a></td>
        <td>{{attachment.SizeKB}}</td>
        <td>{{attachment.Modified | date: "medium"}}</td>
        <td>{{attachment.Created | date: "medium"}}</td>
      </tr>
      </table>
    </td>
  </tr>
</table>

<div class="well well-sm" ng-hide="commentPosting">
  <input type="text" class="form-control" ng-model="newCommentTitle" placeholder="New Comment Title">
  <textarea class="form-control" ng-model="newCommentBody" placeholder="New Comment Body">
  </textarea>
  <button class="btn btn-default" ng-click="addComment()">Add Note</button>
</div>

<div class="well well-sm" ng-show="commentPosting">
  Posting...
</div>

<div class="well well-sm" ng-repeat="note in notes | orderBy: '-Modified'">
  <div><b>{{note.Title}}</b> by <i>{{note.Owner}}</i> on {{note.Modified | date : "medium"}}</div>
  <div>{{note.Body}}</div>
  <div ng-show="note.Filename">Download attachment (new tab): {{note.Filename}} ({{note.Filesize}} Bytes) <a class="btn btn-default" href={{"../attachment/getfile/"+note.Id+"/"+note.Filename}} target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a></div>
  <div ng-show="note.Filename">Download attachment (iframe): {{note.Filename}} ({{note.Filesize}} Bytes) <button class="btn btn-default" ng-click="downloadNoteAttachment(note.Id, note.Filename)"><span class="glyphicon glyphicon-download-alt"></span></button></div>
</div>

<a class="btn btn-danger" href="{{url}}">Open in Dynamics CRM</a>
</div>

<p class="alert alert-info" ng-hide="loaded">Loading!</p>

<iframe id="download_iframe" style="display:none;"></iframe>