<div ng-show="loaded && !error">
<div class="panel panel-default">
<table class="table table-condensed">
<!--   <tr>
    <th>ID:</th>
    <td>{{incident.Id}}</td>
  </tr>
 -->  <tr>
    <th>Number:</th>
    <td>{{incidentNumber}} <a class="pull-right btn btn-default btn-xs" href="{{url}}">Open in Dynamics CRM</a> </td>
  </tr>
  <tr>
    <th>Title:</th>
    <td>{{incident.Title}}</td>
  </tr>
  <tr>
    <th>Status:</th>
    <td>{{incident.Status}}</td>
  </tr>
  <tr>
    <th>Description:</th>
    <td>{{incident.Description}}</td>
  </tr>
  <tr>
    <th>Version:</th>
    <td>{{incident.Version}}</td>
  </tr>
  <tr>
    <th>Company:</th>
    <td>{{incident.Company}}</td>
  </tr>
  <tr>
    <th>Creator:</th>
    <td>{{incident.Creator}}</td>
  </tr>
  <tr>
    <th>Owner:</th>
    <td>{{incident.Owner}}</td>
  </tr>
  <tr>
    <th>Attachments Folder:</th>
    <td>{{incident.NetworkAttachmentsFolder}}</td>
  </tr>
</table>
</div>

<div class="panel panel-default">
<table class="table table-condensed table-striped" ng-show="incident.NetworkAttachments">
<tr>
  <th>Filename</th>
  <th>Size (kb)</th>
  <th>Owner</th>
  <th>Modified</th>
  <th>Created</th>
</tr>
<tr ng-repeat="attachment in incident.NetworkAttachments | orderBy: '-ModifiedDate'">
  <td><a href="../incident/{{incidentNumber}}/attachments/{{attachment.Filename}}">{{attachment.Filename}}</a></td>
  <td>{{attachment.SizeKB}}</td>
  <td>{{attachment.Owner}}</td>
  <td>{{attachment.Modified | date: "medium"}}</td>
  <td>{{attachment.Created | date: "medium"}}</td>
</tr>
</table>
</div>

<div class="well well-sm" ng-hide="commentPosting">
  <input type="text" class="form-control" ng-model="newCommentTitle" placeholder="Note Title">
  <textarea class="form-control" ng-model="newCommentBody" placeholder="Note Body">
  </textarea>
  <button class="btn btn-default" ng-click="addComment()">Add Note</button>
</div>

<div class="well well-sm" ng-show="commentPosting">
  Posting...
</div>

<div class="well well-sm" ng-repeat="note in incident.Notes | orderBy: '-Modified'">
  <div style="border-bottom: 1px solid #aaa;"><b>{{note.Title}}</b> by <i>{{note.Owner}}</i> on {{note.Modified | date : "medium"}}</div>
  <div ng-bind-html="note.Body | marked"></div>
  <div ng-show="note.Filename">Download attachment (new tab): {{note.Filename}} ({{note.Filesize}} Bytes) <a class="btn btn-default" href={{"../attachment/getfile/"+note.Id+"/"+note.Filename}} target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a></div>
  <div ng-show="note.Filename">Download attachment (iframe): {{note.Filename}} ({{note.Filesize}} Bytes) <button class="btn btn-default" ng-click="downloadNoteAttachment(note.Id, note.Filename)"><span class="glyphicon glyphicon-download-alt"></span></button></div>
</div>

</div>

<p ng-hide="loaded">
<style>
#loading {position:absolute;left:calc(50% - 100px);top:calc(50% - 25px);z-index:9999}
.uil-ripple {position:absolute;left:calc(50% - 90px);top:calc(50% - 90px);opacity:.5;z-index:999}

.ld-l {opacity:0;animation: ld-in 3s 0.0s ease infinite;}
.ld-o {opacity:0;animation: ld-in 3s 0.1s ease infinite;}
.ld-a {opacity:0;animation: ld-in 3s 0.2s ease infinite;}
.ld-d {opacity:0;animation: ld-in 3s 0.3s ease infinite;}
.ld-i {opacity:0;animation: ld-in 3s 0.4s ease infinite;}
.ld-n {opacity:0;animation: ld-in 3s 0.5s ease infinite;}
.ld-g {opacity:0;animation: ld-in 3s 0.6s ease infinite;}
.spinner {animation: ld-sp 3s ease infinite;}

@keyframes ld-in {
  0% {opacity:0;transform:scale(0);}
  30% {opacity:1;transform:scale(1);}
  100% {opacity:1;transform:scale(1);}
}
</style>
<svg id="loading">
<g>
  <path class="ld-l" fill="#39C0C4" d="M43.6,33.2h9.2V35H41.6V15.2h2V33.2z"/>
  <path class="ld-o" fill="#39C0C4" d="M74.7,25.1c0,1.5-0.3,2.9-0.8,4.2c-0.5,1.3-1.2,2.4-2.2,3.3c-0.9,0.9-2,1.6-3.3,2.2
    c-1.3,0.5-2.6,0.8-4.1,0.8s-2.8-0.3-4.1-0.8c-1.3-0.5-2.4-1.2-3.3-2.2s-1.6-2-2.2-3.3C54.3,28,54,26.6,54,25.1s0.3-2.9,0.8-4.2
    c0.5-1.3,1.2-2.4,2.2-3.3s2-1.6,3.3-2.2c1.3-0.5,2.6-0.8,4.1-0.8s2.8,0.3,4.1,0.8c1.3,0.5,2.4,1.2,3.3,2.2c0.9,0.9,1.6,2,2.2,3.3
    C74.4,22.2,74.7,23.6,74.7,25.1z M72.5,25.1c0-1.2-0.2-2.3-0.6-3.3c-0.4-1-0.9-2-1.6-2.8c-0.7-0.8-1.6-1.4-2.6-1.9
    c-1-0.5-2.2-0.7-3.4-0.7c-1.3,0-2.4,0.2-3.4,0.7c-1,0.5-1.9,1.1-2.6,1.9c-0.7,0.8-1.3,1.7-1.6,2.8c-0.4,1-0.6,2.1-0.6,3.3
    c0,1.2,0.2,2.3,0.6,3.3c0.4,1,0.9,2,1.6,2.7c0.7,0.8,1.6,1.4,2.6,1.9c1,0.5,2.2,0.7,3.4,0.7c1.3,0,2.4-0.2,3.4-0.7
    c1-0.5,1.9-1.1,2.6-1.9c0.7-0.8,1.3-1.7,1.6-2.7C72.4,27.4,72.5,26.3,72.5,25.1z"/>
  <path class="ld-a" fill="#39C0C4" d="M78.2,35H76l8.6-19.8h2L95.1,35h-2.2l-2.2-5.2H80.4L78.2,35z M81.1,27.9h8.7l-4.4-10.5L81.1,27.9z"/>
  <path class="ld-d" fill="#39C0C4" d="M98,15.2h6.6c1.2,0,2.5,0.2,3.7,0.6c1.2,0.4,2.4,1,3.4,1.9c1,0.8,1.8,1.9,2.4,3.1s0.9,2.7,0.9,4.3
    c0,1.7-0.3,3.1-0.9,4.3s-1.4,2.3-2.4,3.1c-1,0.8-2.1,1.5-3.4,1.9c-1.2,0.4-2.5,0.6-3.7,0.6H98V15.2z M100,33.2h4
    c1.5,0,2.8-0.2,3.9-0.7c1.1-0.5,2-1.1,2.8-1.8c0.7-0.8,1.3-1.6,1.6-2.6s0.5-2,0.5-3c0-1-0.2-2-0.5-3c-0.4-1-0.9-1.8-1.6-2.6
    c-0.7-0.8-1.6-1.4-2.8-1.8c-1.1-0.5-2.4-0.7-3.9-0.7h-4V33.2z"/>
  <path class="ld-i" fill="#39C0C4" d="M121.2,35h-2V15.2h2V35z"/>
  <path class="ld-n" fill="#39C0C4" d="M140.5,32.1L140.5,32.1l0.1-16.9h2V35h-2.5l-11.5-17.1h-0.1V35h-2V15.2h2.5L140.5,32.1z"/>
  <path class="ld-g" fill="#39C0C4" d="M162.9,18.8c-0.7-0.7-1.5-1.3-2.5-1.7c-1-0.4-2-0.6-3.3-0.6c-1.3,0-2.4,0.2-3.4,0.7s-1.9,1.1-2.6,1.9
    c-0.7,0.8-1.3,1.7-1.6,2.8c-0.4,1-0.6,2.1-0.6,3.3c0,1.2,0.2,2.3,0.6,3.3c0.4,1,0.9,2,1.6,2.7c0.7,0.8,1.6,1.4,2.6,1.9
    s2.2,0.7,3.4,0.7c1.1,0,2.1-0.1,3.1-0.4c0.9-0.2,1.7-0.5,2.3-0.9v-6h-4.6v-1.8h6.6v9c-1.1,0.7-2.2,1.1-3.5,1.5
    c-1.3,0.3-2.5,0.5-3.9,0.5c-1.5,0-2.9-0.3-4.1-0.8s-2.4-1.2-3.3-2.2c-0.9-0.9-1.6-2-2.1-3.3s-0.8-2.7-0.8-4.2s0.3-2.9,0.8-4.2
    c0.5-1.3,1.2-2.4,2.2-3.3c0.9-0.9,2-1.6,3.3-2.2c1.3-0.5,2.6-0.8,4.1-0.8c1.6,0,3,0.2,4.1,0.7s2.2,1.1,3,2L162.9,18.8z"/>
</g>
</svg>


<svg width='182px' height='182px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ripple"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><g> <animate attributeName="opacity" dur="4s" repeatCount="indefinite" begin="0s" keyTimes="0;0.33;1" values="1;1;0"></animate><circle cx="50" cy="50" r="40" stroke="#eeeeee" fill="none" stroke-width="2" stroke-linecap="round"><animate attributeName="r" dur="4s" repeatCount="indefinite" begin="0s" keyTimes="0;0.33;1" values="0;22;44"></animate></circle></g><g><animate attributeName="opacity" dur="4s" repeatCount="indefinite" begin="2s" keyTimes="0;0.33;1" values="1;1;0"></animate><circle cx="50" cy="50" r="40" stroke="#eeeeee" fill="none" stroke-width="2" stroke-linecap="round"><animate attributeName="r" dur="4s" repeatCount="indefinite" begin="2s" keyTimes="0;0.33;1" values="0;22;44"></animate></circle></g></svg>
</p>

<p ng-show="error" class="alert alert-danger">{{error}}</p>
<iframe id="download_iframe" style="display:none;"></iframe>