<div>
<h1>Search Results</h1>
<table class="table table-condensed table-striped search-results">
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th>Status</th>
    <th>Company</th>
    <th>Version</th>
    <th>Assigned To</th>
    <th>Description</th>
  </tr>
  <tr ng-repeat="ticket in searchResults">
    <td>
      <a href="{{'#/incident/' + ticket.TicketNumber}}">{{ticket.TicketNumber}}</a>
    </td>
    <td>{{ticket.Title}}</td>
    <td>{{ticket.Status}}</td>
    <td>{{ticket.Company}}</td>
    <td>{{ticket.Version}}</td>
    <td>{{ticket.Owner}}</td>
    <td class="chromesucks" ng-bind-html="ticket.Description | crmify | marked"></td>
  </tr>
</table>
</div>
