<!DOCTYPE html>
<html lang="en" ng-app="uncrm">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">

    <title>unCRM</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <style>
      a[ng-click]{
          cursor: pointer;
      }
      .nowrap {
        white-space: nowrap;
      }
    </style>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">unCRM</a>
          <ul class="nav navbar-nav" ng-controller="searchCtrl">
            <li>
              <form class="navbar-form navbar-right" ng-submit="go()">
                <div class="form-group">
                  <input type="text" id="incident" placeholder="Search" ng-model="incidentNumber" class="form-control">
                </div>
              </form>
            </li>
            <li ng-show="isLoggedIn()"><a href="#" class="nav-bar-item">My Incidents</a></li>
          </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-cloak>
          <div ng-controller="authCtrl" class="pull-right">
            <div ng-hide="isLoggedIn()">
              <form class="navbar-form" ng-submit="login()">
                <input class="form-control" type="text" ng-model="username" placeholder="Username" />
                <input class="form-control" type="password" ng-model="password" placeholder="Password" />
                <button type="submit" class="btn btn-success" ng-disabled="isBusy()" >Login</button>
              </form>
            </div>
            <div ng-show="isLoggedIn()">
              <form class="navbar-form">
                <button class="btn btn-default pull-right" ng-click="logout()" title="Logout of {{getLoggedInName()}}">Logout</button>
              </form>
            </div>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container">

      <div ng-view></div>
    </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.8/packaged/jquery.noty.packaged.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.2/angular-local-storage.min.js"></script>

    <script src="main.js"></script>
    <script src="incidentController.js"></script>
  </body>
</html>
